.fundo{
    background-color: #017270;
}

.ionQrCode{
    padding-right: 25px;
    color: #0ee1db;
}

.ionData{
    padding-right: 25px;
    color: #a0cac9;
}

.ionTitle{
    padding-right: 25px;
    padding-left: 25px;
    color: #0ee1db;
}

.line{
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.resultado{
    margin-top: 10px;
}